/*
button.btn-settings {
    margin: 25px;
    padding: 20px 30px;
    font-size: 1.2em;
    background-color: #337ab7;
    color: white;
  }
  button.btn-settings:active {
    color: white;
  }
  .modal {
      overflow: hidden;
  }
  .modal-dialog {
      margin-right: 0;
      margin-left: 0;
  }
  .modal-header {
    height:30px;
    padding: 20px;
    background-color:#18456b;
    color:white;
    cursor: move;
  }
  .modal-title {
    margin-top:-10px;
    font-size:16px;
  }
  .modal-header .close {
    margin-top:-10px;
    color:#fff;
  }
  .modal-body {
    color:#888;
    padding: 5px 35px 20px;
  }
  .modal-body h3 {
    text-align: center;
  }
  .modal-body p {
    padding-top:10px;
    font-size: 1.1em;
  }
  @import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    width: 100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm__close:hover {
    color: #ff0000;
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
}

.confirm__buttons {
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background: #009879;
    color: #ffffff;
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}
@keyframes confirm---open {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes confirm---close {
    from { opacity: 1 }
    to { opacity: 0 }
}

@keyframes confirm__window---open {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


*/



/*
	AUTHOR: Osvaldas Valutis, www.osvaldas.info
*/
body,
.ad,
.sm
{
	font-family: Lucida Grande, Helvetica Neue, Helvetica, Arial, Verdana, sans-serif;
}

a
{
	color: currentColor;
	text-decoration: none;
}

.clearfix::after
{
	content: '';
	display: table;
	clear: both;
}



/*
	AD
*/

.ad
{
	width: 9.375rem; /* 150 */
	color: #444;
	color: rgba( 0, 0, 0, .75 );
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	position: fixed;
	z-index: 1000;
	top: 0.625rem; /* 10 */
	left: 0.625rem; /* 10 */
	padding: 0.5rem 0.625rem; /* 8 10 */
}
.ad--dark
{
	color: #ddd;
	color: rgba( 255, 255, 255, .75 );
	background-color: #111;
	background-color: rgba( 0, 0, 0, .5 );
}
	.ad__close
	{
		width: 0.625rem; /* 10 */
		height: 0.625rem; /* 10 */
		background-color: #777;
		background-color: rgba( 0, 0, 0, .5 );
		border-radius: 50%;
		position: absolute;
		z-index: 1;
		top: -0.25rem; /* 4 */
		right: -0.25rem; /* 4 */

		-webkit-transition: -webkit-transform .25s ease-in-out;
		transition: transform .25s ease-in-out;
	}
	.ad--dark .ad__close
	{
		background-color: #ddd;
		background-color: rgba( 255, 255, 255, .75 );

	}
	.ad__close:hover,
	.ad__close:focus
	{
		-webkit-transform: scale( 1.25 );
		-ms-transform: scale( 1.25 );
		transform: scale( 1.25 );
	}

	#carbonads
	{
		font-size: 0.875rem; /* 14 */
		letter-spacing: -0.071em; /* 1 (14) */
		line-height: 1.125rem; /* 18 */
	}
		#carbonads a
		{
			color: currentColor;
			display: block;
			margin-top: 0.313rem; /* 5 */
		}
		#carbonads .carbon-poweredby
		{
			font-size: 0.75rem; /* 12 */
			text-transform: uppercase;
			color: #aaa;
			color: rgba( 0, 0, 0, .25 );
		}
		.ad--dark #carbonads .carbon-poweredby
		{
			color: #999;
			color: rgba( 255, 255, 255, .25 );
		}



/*
	SOCIAL MEDIA
*/

.sm
{
	width: 100%;
	height: 2.5rem; /* 40 */
	color: #444;
	color: rgba( 0, 0, 0, .75 );
	background-color: #fff;
	background-color: rgba( 255, 255, 255, .5 );
	overflow: hidden;
	position: fixed;
	z-index: 1001;
	bottom: 0;
	left: 0;
	padding: 0.625rem 1.25rem 0; /* 10 20 */
}
	.sm--dark
	{
		color: #ddd;
		color: rgba( 255, 255, 255, .75 );
		background-color: #111;
		background-color: rgba( 0, 0, 0, .5 );
	}
	.sm ul
	{
	}
		.sm li
		{
			float: right;
			margin-left: 1rem;
		}
		.sm li:first-child
		{
			float: left;
			margin-left: 0;
		}
			.sm .googleplus-one
			{
				max-width: 60px;
			}
			.sm .twitter-follow > *:not( :first-child ),
			.sm .twitter-share > *:not( :first-child )
			{
				display: none;
			}

		@media screen{ @media ( min-width: 0px ) /* everything but Internet Explorer and Safari ?��6 */
		{
			.sm li:last-child
			{
				opacity: 0;
				-webkit-transition: opacity .25s ease-in-out;
				transition: opacity .25s ease-in-out;
			}
			.sm:hover li:last-child
			{
				opacity: 1;
			}	
		}}

			.sm__back
			{
				font-size: 0.875rem; /* 14 */
				font-weight: bold;
				color: currentColor;
				text-transform: uppercase;
				position: relative;
			}
				.sm__back::before
				{
					width: 0;
					height: 0;
					border: 0.313rem solid transparent; /* 5 */
					border-left: none;
					border-right-color: currentColor;
					content: '';
					display: inline-block;
					position: relative;
					left: 0;
					margin-right: 0.313rem; /* 5 */

					-webkit-transition: left .25s ease-in-out;
					transition: left .25s ease-in-out;
				}
				.sm__back:hover::before,
				.sm__back:focus::before
				{
					left: -0.313rem; /* 5 */
				}



/*
	RESPONSIVENESS
*/

@media screen and (max-width: 40em), screen and (max-height: 40em) /* 640 */
{
	.ad,
	.sm
	{
		display: none;
	}
}

        
body {
	   font-family: Roboto, sans-serif;
	   color: #0f3c4b;
	   background-color:white;
	   padding: 5rem 1.25rem; /* 80 20 */
 }

   .container{
	   width: 100%;
	   max-width: 680px; /* 800 */
	   text-align: center;
	   margin: 0 auto;
   }

	   .container h1 {
		   font-size: 42px;
		   font-weight: 300;
		   color: #493f3f;
		   margin-bottom: 40px;
	   }
	   .container h1 a:hover,
	   .container h1 a:focus
	   {
		   color:gray;
	   }

	   .container nav
	   {
		   margin-bottom: 40px;
	   }
		   .container nav a
		   {
			   border-bottom: 2px solid #c8dadf;
			   display: inline-block;
			   padding: 4px 8px;
			   margin: 0 5px;
		   }
		   .container nav a.is-selected
		   {
			   font-weight: 700;
			   color:gray;
			   border-bottom-color: currentColor;
		   }
		   .container nav a:not( .is-selected ):hover,
		   .container nav a:not( .is-selected ):focus
		   {
			   border-bottom-color: #0f3c4b;
		   }

	   .container footer
	   {
		   color:gray;
		   margin-top: 40px;
	   }
		   .container footer p + p
		   {
			   margin-top: 1em;
		   }
		   .container footer a:hover,
		   .container footer a:focus
		   {
			   color: gray;
		   }

	   .box
	   {
		   font-size: 1.25rem; /* 20 */
		   background-color: #c8dadf;
		   position: relative;
		   padding: 100px 20px;
	   }
	   .box.has-advanced-upload
	   {
		   outline: 2px dashed #1f2020a6;
		   outline-offset: -10px;

		   -webkit-transition: outline-offset .15s ease-in-out, background-color .15s linear;
		   transition: outline-offset .15s ease-in-out, background-color .15s linear;
	   }
	   .box.is-dragover
	   {
		   outline-offset: -20px;
		   outline-color: #c8dadf;
		   background-color: #fff;
	   }
		   .box__dragndrop,
		   .box__icon
		   {
			   display: none;
		   }
		   .box.has-advanced-upload .box__dragndrop
		   {
			   display: inline;
		   }
		   .box.has-advanced-upload .box__icon
		   {
			   width: 100%;
			   height: 80%;
			   fill:ed2553;
			   display: block;
			   margin-bottom: 40px;
		   }

		   .box.is-uploading .box__input,
		   .box.is-success .box__input,
		   .box.is-error .box__input
		   {
			   visibility: hidden;
		   }

		   .box__uploading,
		   .box__success,
		   .box__error
		   {
			   display: none;
		   }
		   .box.is-uploading .box__uploading,
		   .box.is-success .box__success,
		   .box.is-error .box__error
		   {
			   display: block;
			   position: absolute;
			   top: 50%;
			   right: 0;
			   left: 0;

			   -webkit-transform: translateY( -50% );
			   transform: translateY( -50% );
		   }
		   .box__uploading
		   {
			   font-style: italic;
		   }
		   .box__success
		   {
			   -webkit-animation: appear-from-inside .25s ease-in-out;
			   animation: appear-from-inside .25s ease-in-out;
		   }
			   @-webkit-keyframes appear-from-inside
			   {
				   from	{ -webkit-transform: translateY( -50% ) scale( 0 ); }
				   75%		{ -webkit-transform: translateY( -50% ) scale( 1.1 ); }
				   to		{ -webkit-transform: translateY( -50% ) scale( 1 ); }
			   }
			   @keyframes appear-from-inside
			   {
				   from	{ transform: translateY( -50% ) scale( 0 ); }
				   75%		{ transform: translateY( -50% ) scale( 1.1 ); }
				   to		{ transform: translateY( -50% ) scale( 1 ); }
			   }

		   .box__restart
		   {
			   font-weight: 700;
		   }
		   .box__restart:focus,
		   .box__restart:hover
		   {
			   color: gray;
		   }

		   .js .box__file
		   {
			   width: 0.1px;
			   height: 0.1px;
			   opacity: 0;
			   overflow: hidden;
			   position: absolute;
			   z-index: -1;
		   }
		   .js .box__file + label
		   {
			   max-width: 80%;
			   text-overflow: ellipsis;
			   white-space: nowrap;
			   cursor: pointer;
			   display: inline-block;
			   overflow: hidden;
		   }
		   .js .box__file + label:hover strong,
		   .box__file:focus + label strong,
		   .box__file.has-focus + label strong
		   {
			border-bottom: 3px solid;
		}
		   .js .box__file:focus + label,
		   .js .box__file.has-focus + label
		   {
			   outline: 1px dotted #000;
			   outline: -webkit-focus-ring-color auto 5px;
		   }
			   .js .box__file + label *
			   {
				   /* pointer-events: none; */ /* in case of FastClick lib use */
			   }

		   .no-js .box__file + label
		   {
			   display: none;
		   }

		   .no-js .box__button
		   {
			   display: block;
		   }
		   .box__button
		   {
			   font-weight: 700;
			   color: #e5edf1;
			   background-color:gray;
			   
			   padding: 8px 16px;
			   margin: 40px auto 0;
		   }
			   .box__button:hover,
			   .box__button:focus
			   {
				   background-color:gray;
			   }
			   #camera, #camera--view, #camera--sensor, #camera--output {



}
#camera--view, #camera--sensor, #camera--output {
position: fixed;
border-radius: 5%;
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}
#camera--trigger {
width: 200px;
background-color: black;
color: white;
font-size: 16px;
border-radius: 30px;
border: none;
padding: 15px 20px;
text-align: center;
position: fixed;
bottom: 30px;
left: calc(45% - 100px);
}
#camera--cencel{
width: 200px;
background-color: black;
color: white;
font-size: 16px;
border-radius: 30px;
border: none;
padding: 15px 20px;
text-align: center;
position: fixed;
bottom: 30px;
left: calc(65% - 100px);
}
.taken {
height: 100px !important;
width: 100px !important;
transition: all 0.5s ease-in;
border: solid 3px white;
top: 20px;
right: 20px;
z-index: 2;
}  

#formDrop{
    /* background-repeat: no-repeat; */
    /* background-size: contain; */
	background-position: bottom;
	opacity: 0.7;
	width: 300px;
	height: 100px;
	margin:auto;
	color:#ed2553;
}

/* button,
button::after {
	border-radius: 30px;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
	transition: all 0.3s;
}

button {
  background: none;
  border: 3px solid rgb(107, 100, 100);
  color:  rgb(252, 247, 247);
  display: block;
  font-size: 1.6em;
  font-weight: bold;
  margin: 1em auto;
  padding: 2em 6em;
  position: relative;
  text-transform: uppercase;
  height:100px;
  width: 60px;
  font-size: 30px;
  text-emphasis: none;
}

button::before,
button::after {
  background:  rgb(252, 247, 247);
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color:rgb(107, 100, 100);
}

/* BUTTON 4 */
/* 
button::before {
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

button::after {
  background:rgb(107, 100, 100);
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
}

button:hover:after {
  height: 0;
  left: 50%;
  top: 50%;
  width: 0;
} */
#ToTakePicture{
	background-image: url('https://storage.cloud.google.com/idetectproject/camera_icon.png');
	background-size: cover;
	
} */


/* ========== */


.about {
	@import url("https://fonts.googleapis.com/css?family=Rubik:300,400");
	background-color: #2c303a;
	width: 100%;
	min-width: 480px;
	height: 50px;
	position: fixed;
	bottom: 0;
	color: #888888;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Rubik", sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 1px;
	font-weight: 300;
	z-index: 3;
	border-bottom: solid 1px #131418;
  }
  .about a {
	color: white;
	margin: 0 5px;
	padding: 2px 3px;
	text-decoration: none;
	position: relative;
	transition: all 0.3s ease;
	z-index: 1;
	display: flex;
	align-items: center;
  }
  .about a:after {
	content: "";
	position: absolute;
	width: calc(100% - 6px);
	height: 1px;
	background-color: #46b7a7;
	bottom: 0;
	transition: all 0.3s ease;
  }
  .about a:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0px;
	background-color: #46b7a7;
	right: 0;
	bottom: 0;
	transition: all 0.3s 0.3s ease;
	z-index: -1;
  }
  .about a:hover:after {
	width: 0;
	left: 0;
  }
  .about a:hover:before {
	width: 100%;
	height: 100%;
	left: 0;
  }
  .about .one {
	width: 2px;
	height: 20px;
	background-color: #444857;
	margin: 0 10px 0 5px;
  }
  .about .two {
	width: 4px;
	height: 4px;
	border-radius: 100%;
	background-color: #444857;
	margin: 0 5px;
  }
  
  body {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	width: 100%;
  }
  
  .buttons {
	display: flex;
	justify-content: space-around;
	top: 20px;
	left: 20px;
  }
  .buttons button {
	width: 150px;
	height: 50px;
	background-color: transparent;
	margin: 20px;
	color: #5d5d5a;
	position: relative;
	overflow: hidden;
	font-size: 14px;
	letter-spacing: 1px;
	font-weight: 500;
	text-transform: uppercase;
	transition: all 0.3s ease;
	cursor: pointer;
	border: 0;
  }
  .buttons button:before {
	content: "";
	position: absolute;
	width: 0;
	height: 2px;
	background-color: #ed2553;
	transition: all 0.3s 0.2s ease;
	left: 0;
	top: 0;
  }
  .buttons button:after {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	background-color: #ed2553;
	transition: all 0.3s ease;
	right: 0;
	bottom: 0;
  }
  .buttons button p {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: flex;

	margin: 0;
	padding: 0;
	z-index: 1;
  }
  .buttons button p:before {
	content: "";
	position: absolute;
	width: 2px;
	height: 0;
	background-color: #ed2553;
	transition: all 0.3s 0.4s ease;
	right: 0;
	top: 0;
  }
  .buttons button p:after {
	content: "";
	position: absolute;
	width: 2px;
	height: 0;
	background-color: #ed2553;
	transition: all 0.3s ease;
	left: 0;
	bottom: 0;
  }
  .buttons button:hover {
	color: #ed2553;
	letter-spacing: 2px;
  }
  .buttons button:hover:before, .buttons button:hover:after {
	width: 100%;
  }
  .buttons button:hover p {
	z-index: 1;
  }
  .buttons button:hover p:before, .buttons button:hover p:after {
	height: 100%;
  }
  .buttons button:hover span {
	height: 100%;
	top: 0;
  }
  .buttons button:active {
	outline: none;
	border: none;
  }
  .buttons button:focus {
	outline: 0;
}  /* 
  label:focus, label:hover {
	border-bottom: 1px solid;
  } */